<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapps.tc_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateVisible|adjustResize">
        <activity
            android:name=".view.activities.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.UpdateCarAdminActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".view.activities.AddCarAdminActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".view.activities.SignUpActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".view.activities.CarProfileActivity" />
        <activity
            android:name=".view.activities.AddCarUserActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".view.activities.HomePageActivity" />
        <activity android:name=".view.activities.HomePageAdminActivity" />
        <activity android:name=".view.activities.UsersCarActivity" />
        <activity android:name=".view.activities.RentCarActivity">

        </activity>
        <activity android:name=".view.activities.AcceptRentActivity"></activity>
    </application>

</manifest>